.offer {
  .offer-card {
    transform: translateY(-10%);
    margin: auto;
  }
  .border {
    border: 2px dashed !important;
  }
  @include media-breakpoint-up(lg) {
    .offer-img {
      transform: translateX(10%);
    }
    .offer-card {
      transform: translateX(-10%);
      margin: inherit;
    }
  }
}
.btn-outline-secondary {
  &:hover {
    color: hsl(0, 0%, 100%) !important;
  }
}
.header{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 350px;
}
.about{
  min-height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  > div {
    min-height: 100vh;
  }
}

.menu{
  @extend .about;
  
  .card{
    min-width: 400px;
    width: 100%;
    max-width: 700px;
    border-left: 5px solid $primary !important;
    position: relative;
    transition: 0.3s ease-in;
    &::before{
        content: "";
        position: absolute;
        width: 20px;
        background: $primary;
        clip-path: polygon(0 0,0% 100%,100% 50%);
        left: -3px;
        top: 30px;
        bottom: 30px;
    }
    img{
      object-fit: cover;
    }
    .info{
      border-right: 3px dashed $primary;
      transition: 0.3s;
    }
    .card-image{
      background: $light;
      transition: 0.3s;
    }
    &:hover{
      transform: scale(1.05);
      z-index: 1;

      .card-image{
        transform: scale(2);
      }
      .info{
        padding-left: 55px;
      }
    }
  }
  @include media-breakpoint-up(lg) {

    .card{
      width: 45%;
    }
  }
.card-image{
  border: 2px dashed $primary;
}
}
html {
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer{
  height: 60px;
  line-height: 60px;

  a{

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 30px;
    width: 30px;
    transition: 0.3s ease;
    &:hover{
      transform: scale(1.5) translateY(-20%);
    }
  }

}


/*

url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$form-check-input-checked-color}'/></svg>")



*/