.offer {
  .offer-card {
    transform: translateY(-10%);
    margin: auto;
  }
  .border {
    border: 2px dashed !important;
  }
  @include media-breakpoint-up(lg) {
    .offer-img {
      transform: translateX(10%);
    }
    .offer-card {
      transform: translateX(-10%);
      margin: inherit;
    }
  }
}
.btn-outline-secondary {
  &:hover {
    color: hsl(0, 0%, 100%) !important;
  }
}
.header{
  height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

/*


*/